* , *::before, *::after{
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

:root {
    --pixelSize: 10px;
    --mainBackgroundColor: #78C1F3;
    --buttonBackgroundColor: #E2F6CA;
    --textColor: #F8FDCF;
}

body {

    background-color: var(--mainBackgroundColor);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.sketchPad {
    
    background-color: white;

    width: 600px;
    height: 600px;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    
}

.pixel {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    width: var(--pixelSize);
    height: var(--pixelSize);
}

ul {
    list-style: none;
}

button {
    font-size: inherit;
    border-radius: 10px;
    border: none;
    background-color: var(--buttonBackgroundColor);
}

.shade {
    background-color: var(--buttonBackgroundColor);
    border-radius:10px;
    padding: 5px;
}

.gridSize {
    background-color: var(--buttonBackgroundColor);
    padding: 5px;
    border-radius: 10px;
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
}

nav {
    background-color: #9BE8D8;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
    margin: 30px;
}

#gridSize {
    max-width: 50px;
    border-radius: 10px;
}



.colorPicker {
    background-color: var(--buttonBackgroundColor);
    padding: 5px;
    border-radius: 10px;
}