* , *::before, *::after{
    box-sizing: border-box;
}

:root {
    --pixelSize: 10px;
}

body {

    background-color: rgb(145, 145, 145);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.sketchPad {
    
    width: 600px;
    height: 600px;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    
}

.pixel {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    width: var(--pixelSize);
    height: var(--pixelSize);
}

ul {
    list-style: none;
}

button {
    font-size: inherit;
}
.features {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

#gridSize {
    max-width: 50px;
}

.colorPicker {
    color: white;
}